.TournamentPage {
	margin: 3% 20% 0 20%;
	color: white;
}

.TournamentMenu {
	border-spacing: 0 10px;
	border-collapse: separate;
}

.TournamentCard {
	box-shadow: 0 0 8px 0 black;
}

.Popup {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
}

#TournamentSetup {
	height: 40%;
	width: 30%;
	background: black;
	color: white;
}

.Player {
	border: 3px solid white;
	background-color: black;
	text-align: center;
	font-size: 20px;
	height: 2em;
	width: 7em;
}

/* .Lines {
	position: relative;
	content: "";
	border-right: 3px solid red;
	height: 100%;
	width: 2em;
}

[data-value="Bracket"] > div:nth-child(odd) > .Lines {
	border-top: 3px solid red;
	top: 50%;
}

[data-value="Bracket"] > div:nth-child(even) > .Lines {
	border-bottom: 3px solid red;
	bottom: 50%;
}

.TournamentItem::before {
	position: relative;
	content: "";
	border-top: 3px solid red;
	width: 1em;
}

.TournamentItem:last-child:nth-child(odd) > .Lines {
	border: 0;
}

[data-value="Bracket"]:first-child > div::before,
[data-value="Bracket"]:last-child > div > .Lines {
	border: 0;
} */